@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

picture{
}

div{
    margin: auto;
}